/* 
Insert your related code or bootstrap stuff here below
*/

body {
    font-family: Arial, sans-serif;
}
header {
    background-color: #f8f8f8;
    padding: 10px;
    text-align: right;
    border-bottom: 1px solid #ccc;
}
header a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
header a:hover {
    color: #4CAF50;
}
h1 {
    text-align: center;
    margin-top: 50px;
}
.my-button {
    background-color: blue;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    font-size: 12px;
    border-radius: 4px;
}

.my-button:hover {
    background-color: darkblue;
}

.dropdown-check-list {
    display: inline-block;
  }
  
  .dropdown-check-list .anchor {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 5px 50px 5px 10px;
    border: 1px solid #ccc;
  }
  
  .dropdown-check-list .anchor:after {
    position: absolute;
    content: "";
    border-left: 2px solid black;
    border-top: 2px solid black;
    padding: 5px;
    right: 10px;
    top: 20%;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  
  .dropdown-check-list .anchor:active:after {
    right: 8px;
    top: 21%;
  }
  
  .dropdown-check-list ul.items {
    padding: 2px;
    display: none;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
  }
  
  .dropdown-check-list ul.items li {
    list-style: none;
  }
  
  .dropdown-check-list.visible .anchor {
    color: #0094ff;
  }
  
  .dropdown-check-list.visible .items {
    display: block;
  }